.titulo {

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 61px 12px;
    gap: 9px;
    height: 700px;
    box-shadow: inset 200px 50px 40px rgb(0, 0, 0);
    font-family: 'Montserrat', sans-serif;
    font-family: 'Open Sans', sans-serif;
    background-image: url(../Imagenes/prueba\ fondo\ .jpeg);
    color: #EEF4ED;

}

.titulo__container {

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0px;
    gap: 15px;
    width: 530px;
    height: 100%;
    background-color: #243141;
    box-shadow: 200px 5px 50px rgba(0, 0, 0, 0.27);
    border-radius: 20px;

}

.titulo__titulo {

    width: 500px;
    height: 71px;
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    line-height: 57px;
    text-align: center;
    
}

.titulo__sobre-mi {

    width: 530px;
    height: 52px;
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 26px;
    text-align: center;

}

.titulo__lista {

    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 72px;
    gap: 36px;
    width: 498px;
    height: 24px;

}

.titulo__lista-nombre {

    text-decoration: none;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    color: #EEF4ED;

}

.titulo__lista-imagen {

    margin-left: 5px;
    width: 10px;
    height: 10px;
}

.titulo__imagen {

    width: 340px;
    height: 332px;
    box-sizing: border-box;
    border-radius: 100%;
    border: 1px solid #0000;

}