html {

    scroll-behavior: smooth;

}

body {

    font-family: 'Montserrat', sans-serif;
    font-family: 'Open Sans', sans-serif;
    padding: 0%;
    margin: 0%;
    width: 100vw;
    height: 100vh;

}

/* Header  */

.header {

    display: flex;
    height: 40px;
    width: 100%;
    padding: 32px 0px;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    background-color: #243141;

}

.header__div-icono {

    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    gap: 8px;
    padding-left: 10px;
}

.header__nombre {

    color: #eef4ed;
    font-size: 16px;
    font-weight: 700;

}

.header__logo {

    width: 24px;
    height: 24px;

}

.header__lista {

    display: flex;
    align-items: center;
    gap: 32px;
    list-style: none;

}

.header__lista-nombre {

    color: #eef4ed;
    font-size: 16px;
    font-weight: 500;
    text-decoration: none;
}

.responsive-menu {

    width: 24px;
    height: 24px;
    display: none;

}

/* Bajada de titulo */

.titulo {

    display: flex;
    flex-direction: column;
    height: 100vh;
    padding: 61px 12px;
    justify-content: center;
    align-items: center;
    gap: 9px;
    flex-shrink: 0;
    background: url(Imagenes/prueba\ fondo\ .jpeg), lightblue 50% /cover no-repeat;

}

.titulo__container {

    display: flex;
    flex-direction: column;
    width: 530px;
    height: 668px;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    border-radius: 20px;
    background-color: #243141;
    box-shadow: 5px 5px 40px 0px rgba(0, 0, 0, 0.25) inset, 5px 5px 4px 0px, rgba(0, 0, 0, 0.25);

}

.titulo__imagen {

    width: 339px;
    height: 322px;
    flex-shrink: 0;
    border-radius: 100%;

}

.titulo__titulo {

    width: 500px;
    height: 50px;
    color: #eef4ed;
    text-align: center;
    font-size: 30px;
    font-weight: 700;
    line-height: 10%;
    margin-top: 30px;
    margin-bottom: 0px;

}

.titulo__sobre-mi {

    color: #eef4ed;
    text-align: center;
    font-size: 22px;
    margin: 10px;

}

.titulo__lista {

    display: flex;
    padding: 0px 72px;
    justify-content: center;
    align-items: center;
    gap: 36px;
    list-style: none;

}

.titulo__lista {

    display: flex;
    align-items: center;
    gap: 45px;

}

.titulo__lista-nombre {

    color: #eef4ed;
    font-size: 16px;
    font-weight: 500;
    font-style: normal;
    text-decoration: none;
    
}

.titulo__lista-imagen {

    margin-left: 5px;
    height: 10px;
    width: 10px;

}

/* Sobre mi */

.sobremi {

    display: flex;
    flex-direction: column;
    width: auto;
    height: 300px;
    padding: 64px;
    align-items: center;
    gap: 10px;
    background: #243141;
    box-shadow: 0px 15px 15px 0px rgba(0, 0, 0, 0.05) inset;

}

.sobremi__container {

    display: flex;
    flex-direction: column;
    width: 886px;
    padding: 0px 345px 0px 0px;
    align-items: flex-start;
    gap: 16px;
    color: #eef4ed;

}

.sobremi__titulo {

    color: #eef4ed;
    font-size: 32px;
    font-weight: 700;

}

.sobremi__parrafo {

    color: 16px;
    width: 751px;

}

.sobremi__firma {

    width: 140px;
    height: 140px;

}

/* Skills */

.skill {

    display: flex;
    flex-direction: column;
    width: auto;
    height: 400px;
    padding: 64px;
    align-items: center;
    gap: 32px;
    background: #243141;

}

.skill__titulo {

    color: #eef4ed;
    text-align: center;
    font-size: 32px;
    font-weight: 700;

}

.skill__estudio {

    display: flex;
    align-items: flex-start;
    gap: 30px;

}

.skill_html {

    display: flex;
    flex-direction: column;
    width: 176px;
    height: 174px;
    padding: 16px;
    justify-content: flex-end;
    align-items: flex-start;
    gap: 8px;
    background-color: rgba(238, 244, 237, 0.99);

}

.html-icono {

    width: 38px;
    height: 38px;
}

.html-name {

    font-size: 16px;
    font-weight: 700;
    color: #4b6387;

}

.skill_css {

    display: flex;
    flex-direction: column;
    width: 176px;
    height: 174px;
    padding: 16px;
    justify-content: flex-end;
    align-items: flex-start;
    gap: 8px;
    background-color: rgba(238, 244, 237, 0.99);

}

.css-icono {

    width: 38px;
    height: 38px;
}

.css-name {

    font-size: 16px;
    font-weight: 700;
    color: #4b6387;

}

.skill_js {

    display: flex;
    flex-direction: column;
    width: 176px;
    height: 174px;
    padding: 16px;
    justify-content: flex-end;
    align-items: flex-start;
    gap: 8px;
    background-color: rgba(238, 244, 237, 0.99);

}

.js-icono {

    width: 38px;
    height: 38px;
}

.js-name {

    font-size: 16px;
    font-weight: 700;
    color: #4b6387;

}

/*  Formacion academica  */

.education {

    display: flex;
    flex-direction: column;
    width: auto;
    height: 500px;
    padding: 82px;
    align-items: center;
    gap: 32px;
    background: rgba(75, 99, 135, 0.70);
    box-shadow: 0px 4px 50px 0px rgba(75, 99, 135, 0.50);

}

.education__titulo {

    color: #eef4ed;
    text-align: center;
    font-size: 32px;
    font-weight: 700;

}

.education__study {

    display: flex;
    align-items: flex-start;
    gap: 16px;

}

.education__alura {

    display: flex;
    flex-direction: column;
    align-items: flex-start;

}

.education__alura-imagen {

    display: flex;
    width: 368px;
    height: 286px;
    padding: 16px;
    justify-content: center;
    align-items: center;
    gap: 1px;
    background-color: #fff;

}

.education__universidad {

    display: flex;
    flex-direction: column;
    align-items: flex-start;

}

.education__uni-imagen {

    display: flex;
    width: 368px;
    height: 286px;
    padding: 16px;
    justify-content: center;
    align-items: center;
    gap: 1px;
    background-color: #fff;

}

.education__coder {

    display: flex;
    flex-direction: column;
    align-items: flex-start;

}

.education__coder-imagen {

    display: flex;
    width: 368px;
    height: 286px;
    padding: 16px;
    justify-content: center;
    align-items: center;
    gap: 1px;
    background-color: #fff;

}



.education__study h3 {

    color:#eef4ed;
    width: 350px;
    font-size: 17px;
    font-weight: 700;
    margin: 5px;

}

.education__study p {

    color: #eef4ed;
    font-size: 15px;
    font-weight: 500;
    margin: 0px;
    padding-left: 6px;
}

/* Experiencia laboral */

.proyectos {

    display: flex;
    width: auto;
    height: 600px;
    padding: 25px 0px 0px;
    flex-direction: column;
    align-items: center;
    gap: 32px;
    background: #243141;
    box-shadow: 0px 4px 20px 0px rgba(75, 99, 135, 0.55) inset;

}

.proyectos__titulo {

    color: #eef4ed;
    text-align: center;
    font-size: 32px;
    font-weight: 700;

}

.proyecto__1 {

    display: flex;
    width: 1136px;
    height: 406px;
    align-items: center;
    gap: 16px;

}

.proyecto__1-imagen {

    width: 752px;
    align-self: stretch;
    
}

.proyecto__1-titulo {

    display: flex;
    width: 320px;
    height: 119px;
    flex-direction: column;
    align-items: flex-start;
    gap: 8px;

}

.proyecto__1-titulo h4 {

    color: #eef4ed;
    font-size: 25px;
    font-weight: 700;
    margin: 0px;

}

.proyecto__1-titulo p {

    color: #eef4ed;
    font-size: 15px;
    font-weight: 500;

}

.proyecto__1-botones {

    display: flex;
    width: 560px;
    align-items: flex-start;
    gap: 16px;

}

.proyecto__1-botones-repositorio {

    padding: 16px;
    background-color: transparent;
    border: 1px solid #eef4ed;
    
}

.proyecto__1-titulo-boton-repositorio {

    color:#eef4ed;
    font-size: 14px;
    text-decoration: none;

}

.proyecto__1-botones-demo {

    padding: 16px;
    background-color: #eef4ed;
    border: 1px solid #eef4ed;

}

.proyecto__1-titulo-boton-demo {

    color: #243141;
    font-size: 14px;
    text-decoration: none;

}

/* Contacto */

.contacto {

    display: flex;
    width: auto;
    height: 834px;
    padding: 64px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    background: #4b6387;
    box-shadow: 0px 4px 70px 0px rgba(36, 49, 65, 0.50) inset;

}


.contacto__container-form {

    display: flex;
    flex-direction: column;
    width: 820px;
    height: 699px;
    padding: 26px 0px 0px 0px;
    justify-content: center;
    align-items: center;
    gap: 16px;
    border-radius: 20px;
    background-color: #243141;
    box-shadow: 0px 4px 30px 0px rgba(42, 122, 228, 0.08) inset;

}

.contacto__container-titulo {

    color: #eef4ed;
    font-size: 32px;
    font-weight: 700;
    margin: 0px;

}

.contacto-form {

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
    width: auto;
    list-style: none;

}

#name {
    width: 500px;
    padding: 10px;
}

#mail {

    width: 500px;
    padding: 10px;

}

#msg {

    width: 500px;
    height: 170px;
    padding: 10px;

}

.form__btn-texto {

    display: inline-block;
    height: 55px;
    padding: 16px;
    background-color: #eef4ed;
    color: #243141;
    font-size: 12px;
    margin: 0px 0px 0px 220px;
}

/* footer */

.footer {

    display: flex;
    flex-direction: column;
    align-items: center;

}

.footer p {

    margin: 5px;
}

/* Responsive Tablet */

@media (min-width:768px){ 

    .titulo {

        width: 90rem;
    }

}

@media (min-width:375px) {

    .titulo {

        width: 90rem;
    }

}


