.contacto {

    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 64px;
    justify-content: center;
    height: 788px;
    gap: 10px;
    background-color: #4b6387;
    box-shadow: inset 0px 4px 70px rgba(36, 49, 65, 0.5);;

}

.contacto__container-form {

    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 26px 0px 0px;
    gap: 32px;
    width: 820px;
    height: 600px;
    background: #243141;
    box-shadow: inset 0px 4px 30px rgba(42, 122, 228, 0.08);
    border-radius: 20px;

}

.contacto__container-form-texto {

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;
    width: 820px;
    height: 63px;

}

.contacto__container-titulo {

    width: 141px;
    height: 38px;
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 38px;
    color: #fff;
    margin-top: 20px;
}

.contacto-form {

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 32px;
    width: 656px;
    height: 360px;
}

.form__name {

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 8px;
    width: 656px;
    height: 56px;

}

#name {

    width: 656px;
    height: 56px;
    background-color: white;
    border-radius: 4px;
    border: none;
    padding: 0px 12px;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    
}

.form__email {

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 8px;
    width: 656px;
    height: 56px;

}

#mail {

    width: 656px;
    height: 56px;
    background-color: white;
    border-radius: 4px;
    border: none;
    padding: 0px 12px;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;

}

.form__msg {

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 8px;
    width: 656px;
    height: 160px;

}

#msg {

    width: 656px;
    height: 160px;
    background-color: white;
    border-radius: 4px;
    border: none;
    padding: 10px 12px;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;

}

.form__btn-texto {

    display: flex;
    margin: 10px 0px 0px 250px;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 16px;
    gap: 10px;
    width: 144px;
    height: 55px;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 19px;
    color: #243141;

}


