.skill {

    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #243141;

}

.skill__estudio {

    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 0px;
    gap: 20px;
    width: 100vw;
    height: 244px;
    margin-top: 20px;

}

.skill__titulo {

    width: 82px;
    height: 38px;
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 38px;
    text-align: center;
    color: #eef4ed;
    

}

.skill_html {

    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
    padding: 16px;
    gap: 8px;
    width: 176px;
    height: 174px;
    background: rgba(238, 244, 237, 0.992157);
}

.html-icono {

    width: 37px;
    height: 37px;

}

.html-name {

    width: 144px;
    height: 19px;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
    color: #4b6387;
}


.skill_css {

    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
    padding: 16px;
    gap: 8px;
    width: 176px;
    height: 174px;
    background: rgba(238, 244, 237, 0.992157);

}

.css-icono {

    width: 37px;
    height: 37px;

}

.css-name {

    width: 144px;
    height: 19px;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
    color: #4b6387;
}

.skill_js {

    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
    padding: 16px;
    gap: 8px;
    width: 176px;
    height: 174px;
    background: rgba(238, 244, 237, 0.992157);

}

.js-icono {

    width: 37px;
    height: 37px;

}

.js-name {

    width: 144px;
    height: 19px;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
    color: #4b6387;
}


